In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
282,tt1034032,50000000,40828540,Gamer,Gerard Butler|Michael C. Hall|Logan Lerman|Amb...,Mark Neveldine|Brian Taylor,"In the near future, you don't live to play... ...",Mind-control technology has taken society by a...,95,Action|Thriller|Science Fiction,Lakeshore Entertainment|Lionsgate,9/3/2009,5.6,2009
1368,tt0350261,30000000,18618284,An Unfinished Life,Robert Redford|Jennifer Lopez|Morgan Freeman|B...,Lasse HallstrÃ¶m,Every secret takes on a life of its own.,"Stoic and heartbroken, Einar Gilkyson quietly ...",108,Drama,Miramax Films|Revolution Studios|Persistent En...,9/9/2005,6.9,2005
1270,tt1291580,23000000,15600000,Behind the Candelabra,Michael Douglas|Matt Damon|Rob Lowe|Dan Aykroy...,Steven Soderbergh,Too much of a good thing is wonderful,"Based on the autobiographical novel, the tempe...",118,Drama|Romance,HBO Films,5/26/2013,6.6,2013
1780,tt0452623,19000000,34619699,Gone Baby Gone,Casey Affleck|Michelle Monaghan|Morgan Freeman...,Ben Affleck,Everyone wants the truth... until they find it.,When 4 year old Amanda McCready disappears fro...,113,Crime|Drama|Mystery,Miramax Films|The Ladd Company,10/19/2007,7.0,2007
1545,tt0483726,20000000,41237648,Man of the Year,Robin Williams|Christopher Walken|Laura Linney...,Barry Levinson,Elections are made to be broken.,The irreverent host of a political satire talk...,115,Comedy|Drama|Romance|Thriller,Universal Pictures|Morgan Creek Productions,10/9/2006,5.4,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# добавление прибыли
data['profit'] = data.revenue-data.budget

# приведение release_date в формат времени, выделение месяца релиза
data.release_date =  pd.to_datetime(data.release_date)
data['month'] = data['release_date'].dt.month

# подсчет длины описания фильма
def count_words(str_df):
    return len(str_df.split(' '))

data['title_len_words'] = data['overview'].apply(lambda x:count_words(x))


# возвращаем строку фильма в формате index title id
def str_film(str_film):
    return '{0}. {1} ({2})'.format((str_film.index[0]),(str_film.original_title[str_film.index[0]]),
                                   (str_film.imdb_id[str_film.index[0]]))

# расчет максимальной выручки по директорам
def max_revenue():
    
    director_counter=Counter()
    for index, str_df in data.iterrows():
        #разделение строки, суммирование выручки по элементам строки
        directors = str_df['director'].split('|')        
        for director in directors:            
            director_counter[director]+=str_df['revenue']
    
    return director_counter.most_common(1)[0][0]

# поиск режисера, который чаще снимает вызываемый жанр
def max_genre_director(genre):
    
    director_counter=Counter()
    for index, str_df in data.iterrows():
        directors = str_df['director'].split('|')
        if genre in str_df.genres:
            for director in directors:
                
                director_counter[director] += 1
    
    return director_counter.most_common(1)[0][0]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = str_film(data[data.budget == data.budget.max()])

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [9]:
answers['2'] = str_film(data[data.runtime == data.runtime.max()])

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = str_film(data[data.runtime == data.runtime.min()])

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = data.runtime.median()

###6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = str_film(data[data.profit == data.profit.max()])

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = str_film(data[data.profit == data.profit.min()])

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = data[data.profit > 0].profit.count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
data1 = data[(data.release_year == 2008)].copy()
answers['9'] = str_film(data1[data1.revenue==data1.revenue.max()])

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
data1 = data[(data.release_year >= 2012)&(data.release_year <= 2014)].copy()
answers['10'] = str_film(data1[data1.profit==data1.profit.min()])

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = Counter(data.genres.str.split('|').sum()).most_common(1)[0][0]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
answers['12'] = Counter(data[data.profit > 0].genres.str.split('|').sum()).most_common(1)[0][0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [20]:
answers['13'] = max_revenue()

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
answers['14'] = max_genre_director(genre = 'Action')

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
cast_counter=Counter()
# перебор строк для 2012 г.
for index, str_df in data[data.release_year==2012].iterrows():
    casts = str_df['cast'].split('|')    
    for cast in casts:        
        # разделение строки по актерам, подсчет выручки
        cast_counter[cast] += str_df['revenue']

answers['15'] = cast_counter.most_common(1)[0][0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
cast_counter=Counter()
data1 = data.copy()
# перебор строк для бюджета больше среднего
for index, str_df in data1[data1.budget>data1.budget.mean()].iterrows():
    # разделение строки по актерам, подсчет сколько раз встречается
    casts = str_df['cast'].split('|')    
    for cast in casts:        
        cast_counter[cast] += 1

answers['16'] = cast_counter.most_common(1)[0][0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
data['Cage'] = data["cast"].str.contains("Nicolas Cage")
# подсчет вхождения с отбором по актеру
answers['17'] = Counter(data[data.Cage].genres.str.split('|').sum()).most_common(1)[0][0]

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
data['Paramount'] = data["production_companies"].str.contains("Paramount Pictures")
paramaunt_df = data[(data.Paramount)].copy()
answers['18'] = str_film(paramaunt_df[paramaunt_df.profit==paramaunt_df.profit.min()])

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
# группировка по году выпуска и выручке, сортировка по выручке
max_runtime = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
answers['19'] = max_runtime.index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
# проверка вхождения студии в колонку production_companies
data['Warner'] = data["production_companies"].str.contains("Warner Bros")

# отбор данных по студии, группировка по году, сортировка по прибыли
warner_df = data[(data.Warner)].copy()
max_profit = warner_df.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
answers['20'] = max_profit.index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
answers['21'] = Counter(data['month']).most_common()[0][0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
answers['22'] = len(data[data.release_date.dt.month.isin([6,7,8])])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
director_counter=Counter()
for index, str_df in data[data.release_date.dt.month.isin([1,2,12])].iterrows():
    directors = str_df['director'].split('|')
    
    for director in directors:
    
        director_counter[director]+=1
        
answers['23'] = director_counter.most_common(1)[0][0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
# выделение колонки с длиной названия
data['title_len'] = data['original_title'].apply(len)
prod_len=Counter()
prod_counter=Counter()
for index, str_df in data.iterrows():
    directors = str_df['production_companies'].split('|')
    # вычисление счетчиков длины и использования
    for director in directors:
    
        prod_len[director] += str_df.title_len
        prod_counter[director] += 1
# подсчет среднего
items_prod = prod_counter.items()
for count in items_prod:
    
    prod_len[count[0]] = prod_len[count[0]]/count[1]
    
answers['24'] = prod_len.most_common(1)[0][0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
prod_len=Counter()
prod_counter=Counter()

# вычисление счетчиков по количеству слов и студиям
for index, str_df in data.iterrows():
    directors = str_df['production_companies'].split('|')
    
    for director in directors:
    
        prod_len[director] += str_df.title_len_words
        prod_counter[director] += 1
# вычисление средних значений
items_prod = prod_counter.items()
for count in items_prod:
    
    prod_len[count[0]] = prod_len[count[0]]/count[1]
    
answers['25'] = prod_len.most_common()[0][0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [37]:
# выделение фрейма 1% записей по vote_average
vote_df = data.sort_values(by='vote_average',ascending = False).iloc[:len(data)//100]
best_films = []

for index,row in vote_df.iterrows():
    
    best_films.append('{0}. {1} ({2})'.format((index),(row.original_title),
                                   (row.imdb_id)))
answers['26'] = best_films

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [63]:
from itertools import combinations
from itertools import chain

# заполнение списка cast_togever комбинациями актеров
# объединение списков комбинаций для подсчета в Counter
cast_togever=data.cast.apply(lambda x: list(combinations(str(x).split('|'), 2))).tolist()
raised_handslist = chain(*cast_togever)

answers['27'] = Counter(raised_handslist).most_common(2)

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['599. The Dark Knight (tt0468569)',
  '118. Interstellar (tt0816692)',
  '125. The Imitation Game (tt2084970)',
  '9. Inside Out (tt2096673)',
  '34. Room (tt3170832)',
  '1183. The Wolf of Wall Street (tt0993846)',
  '128. Gone Girl (tt2267998)',
  '1191. 12 Years a Slave (tt2024544)',
  '119. Guardians of the Galaxy (tt2015381)',
  '1081. The Lord of the Rings: The Return of the King (tt0167260)',
  '1800. Memento (tt0209144)',
  '370. Inception (tt1375666)',
  '872. The Pianist (tt0253474)',
  '138. The Grand Budapest Hotel (tt2278388)',
  '1188. Her (tt1798709)',
  '28. Spotlight (tt1895587)',
  '124. Big Hero 6 (tt2245084)',
  '177. The Fault in Our Stars (tt2582846)'],
 '27': [(('Daniel Radcliffe', 'Rupert Grint'), 8),
  (('Daniel Radcliffe', 'Emma Watson'), 8)]}

In [40]:
# и убедиться что ни чего не пропустил)
len(answers)

27