In [134]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from scipy.stats import ttest_ind

pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок

log = pd.read_csv('C:/Users/12345/Documents/SkillFactory/module_1_11/log.xls',  sep = ',')
log.columns = ['user_id', 'time', 'bet', 'win']
users = pd.read_csv('C:/Users/12345/Documents/SkillFactory/module_1_11/users.xls', encoding='KOI8-R',  sep = '\t')#utf-8 cp1252 ISO-8859-1
users.columns = ['user_id', 'email', 'geo']
users.head(3)

    user_id                email        geo
0  User_943  Accumanst@gmail.com     Ижевск
1  User_908    Advismowr@mail.ru     Ижевск
2  User_962      Anachso@ukr.net  Краснодар

In [71]:
log.head(3)

                            user_id                  time  bet  win
0  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
1  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
2  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN

In [131]:
log['time'].isna()#.sum()

0      False
1      False
2      False
3      False
4      False
       ...
990    False
991    False
992    False
993    False
994    False
Name: time, Length: 984, dtype: bool

In [73]:
log.dropna(['time'],axis=1)

TypeError: dropna() got multiple values for argument 'axis'

In [105]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  999 non-null    object
 1   time     984 non-null    object
 2   bet      485 non-null    float64
 3   win      138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.3+ KB

In [88]:
len(log)

999

In [135]:
log.time = log.time.str.replace('[', '')
log['time'] = pd.to_datetime(log['time'])

In [68]:
log.dropna(['user_id','time'], axis=1).head()

TypeError: dropna() got multiple values for argument 'axis'

In [109]:
log.drop_duplicates(subset=['time', 'user_id'], keep=False)
len(log)
log.reindex()

                              user_id                  time       bet      win
0    Запись пользователя № - user_973  [2019-01-01 14:51:16       NaN      NaN
1    Запись пользователя № - user_903  [2019-01-01 16:31:16       NaN      NaN
2    Запись пользователя № - user_954  [2019-01-01 17:17:51       NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 21:31:18       NaN      NaN
4    Запись пользователя № - user_917  [2019-01-01 23:34:55  156789.0      NaN
..                                ...                   ...       ...      ...
994  Запись пользователя № - user_984   [2019-04-20 9:59:58    9754.0      NaN
995                            #error                   NaN   10054.0  29265.0
996                            #error                   NaN   10454.0      NaN
997                            #error                   NaN    1000.0      NaN
998                            #error                   NaN   10754.0      NaN

[999 rows x 4 columns]

In [120]:
#log = pd.read_csv('log.csv', header = None)
#log.columns = ['user_id','time','bet','win']
# приводим столбец time к формату даты.
log.time = log.time.str.replace('[', '')
log['time'] = pd.to_datetime(log['time'])
max_time = log.time.max()
print(max_time)
# удаляем пропуски в столбце bet
log['bet'] = log['bet'].fillna(0)
# Преобразуем столбец win. заполняем пропуски в зависимости от условия 0 - ставки не было, значение со знаком "-" - проигрыш, "+ - выигрыш"
def fillna_win(row):
    if pd.isna(row.win) == False:
        return row.win
    elif pd.isna(row.win) and row.bet == 0:
        return 0
    else:
        return -row.bet
# Применяем функцию
new_win = log.apply(lambda row: fillna_win(row), axis=1)
# Заменяем старый столбец с пропусками на новый без пропусков
log['win'] = new_win
# Создаем новый столбец в котором записываем чистый выигрыш = выигрыш - ставка
def fillna_net(row):
    if row.win <= 0:
        return row.win
    else:
        return row.win-row.bet
# Применяем функцию
log['net'] = log.apply(lambda row: fillna_net(row), axis=1)
#users = pd.read_csv('users.csv', encoding = 'koi8-r', sep = '\t')
#users.columns = ['user_id', 'email', 'geo']
# Приведем признак user_id к одному формату в обоих датасетах
users.user_id = users.user_id.apply(lambda x: x.lower())
# Избавимся от ошибок в user_id
log = log[log.user_id != '#error']
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])
df = pd.merge(log, users, on='user_id')
# группируем по городам, находим среднее и делим максимальное значение на минимальное
#df_bet = df.groupby('city').bet.mean()
#df_bet.max()/df_bet.min() (edited)

AttributeError: Can only use .str accessor with string values!

In [111]:
pd.to_datetime('1993-06-08')

Timestamp('1993-06-08 00:00:00')

In [129]:
log.time.dt.month.value_counts()

1    291
3    264
2    259
4    170
Name: time, dtype: int64

In [143]:
#log['minute'] = log['time'].dt.dayofweek 
log['hour'] = log['time'].dt.hour

In [137]:
log['holiday'] = log['time'].apply(lambda x: True if x.dayofweek >=5 else False)  #.dt.dayofweek

In [144]:
log['hour'].value_counts()

10.0    52
3.0     50
1.0     50
8.0     49
6.0     47
17.0    45
5.0     45
4.0     43
12.0    42
18.0    42
22.0    41
14.0    41
13.0    41
2.0     40
23.0    39
9.0     39
0.0     37
20.0    37
15.0    37
21.0    35
11.0    34
19.0    33
16.0    33
7.0     32
Name: hour, dtype: int64

In [141]:
log.dropna(subset=['time'], axis=0).head()

,user_id,time,bet,win,minute,holiday
0,Запись пользователя № - user_973,2019-01-01 14:51:16,NaN,NaN,1.0,False
1,Запись пользователя № - user_903,2019-01-01 16:31:16,NaN,NaN,1.0,False
2,Запись пользователя № - user_954,2019-01-01 17:17:51,NaN,NaN,1.0,False
3,Запись пользователя № - user_954,2019-01-01 21:31:18,NaN,NaN,1.0,False
4,Запись пользователя № - user_917,2019-01-01 23:34:55,156789.0,NaN,1.0,False

In [ ]:
seconds_series = pd.Series(pd.date_range("2000-01-01", periods=3, freq="m"))
seconds_series
0   2000-01-01 00:00:00
1   2000-01-01 00:00:01
2   2000-01-01 00:00:02
dtype: datetime64[ns]
seconds_series.dt.second

In [142]:
def part_of_day(time)
с 0 до 5 часов - ночь, с 6 до 11 - утро, с 12 до 17 - день, с 18 до 23 - вечер
    if 0<time <=5:
        return 'утро
    elif 6<time <=11:
    else return

SyntaxError: invalid syntax (<ipython-input-142-3771315eea5f>, line 1)

In [150]:
seconds_series = pd.Series(pd.date_range(log['time'], periods=4, freq="h"))

#seconds_series.dt.second

TypeError: Cannot convert input [0     2019-01-01 14:51:16
1     2019-01-01 16:31:16
2     2019-01-01 17:17:51
3     2019-01-01 21:31:18
4     2019-01-01 23:34:55
              ...
994   2019-04-20 09:59:58
995                   NaT
996                   NaT
997                   NaT
998                   NaT
Name: time, Length: 999, dtype: datetime64[ns]] of type <class 'pandas.core.series.Series'> to Timestamp

In [151]:
log

,user_id,time,bet,win,minute,holiday,hour
0,Запись пользователя № - user_973,2019-01-01 14:51:16,NaN,NaN,1.0,False,14.0
1,Запись пользователя № - user_903,2019-01-01 16:31:16,NaN,NaN,1.0,False,16.0
2,Запись пользователя № - user_954,2019-01-01 17:17:51,NaN,NaN,1.0,False,17.0
3,Запись пользователя № - user_954,2019-01-01 21:31:18,NaN,NaN,1.0,False,21.0
4,Запись пользователя № - user_917,2019-01-01 23:34:55,156789.0,NaN,1.0,False,23.0
...,...,...,...,...,...,...,...
994,Запись пользователя № - user_984,2019-04-20 09:59:58,9754.0,NaN,5.0,True,9.0
995,#error,NaT,10054.0,29265.0,NaN,False,NaN
996,#error,NaT,10454.0,NaN,NaN,False,NaN
997,#error,NaT,1000.0,NaN,NaN,False,NaN
998,#error,NaT,10754.0,NaN,NaN,False,NaN